#mainBattle {
    height: 45rem;             
}

#battlePage {
    position: relative;
    height: 100%;
}

#userHero {    
    position: absolute;
    top: 10%;
    left: 5%;
    width: 25rem;
    height: 35rem;
    background: url("https://images.innoveduc.fr/easter_hackathon/4df16f2a2102cb1e39d2f2531e3b7881.jpg"); 
    border: 2px solid white;
    border-radius: 3rem; 
    background-position: center;
    background-size: cover;
}

#userHero:hover {      
    border-radius: 3rem; 
    box-shadow: 15px 15px 5px rgb(74, 85, 43);
    
}

#opponent {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 25rem;
    height: 35rem;
    background-color: black;
    border: 2px solid white;  
    border-radius: 3rem;
    background: url("https://images.innoveduc.fr/easter_hackathon/250px-Mystique11.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#opponent:hover{
    border-radius: 3rem; 
    box-shadow: 15px 15px 5px rgb(74, 85, 43);    
}

.play {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%,0);
    /* color: #8bc34a;
    border: 2px solid #8bc34a; */
    color: white;
    font-size: 5rem;    
    border: 2px solid white;
    border-radius: 20px;
}

.play:hover {
    color: #76ff03;
    border: 2px solid #76ff03;
    box-shadow: 5px 5px 3px #ccff90, -5px 5px 3px #ccff90, -5px -5px 3px #ccff90, 5px -5px 3px #ccff90;
    font-weight: bolder;
}

#resultOfActionHero {
    color: #76ff03;
    font-size: 5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0;
}

#resultOfActionOpponent {
    color: #ff3d00;
    font-size: 5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0;
}

.animateResult {
    animation-name: resultAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes resultAnimation {
    0% { opacity: 0; bottom: 5%}
    10% { opacity: 0.2;}
    90% { opacity: 1;}
    100% { opacity: 0; bottom: 80%}
}