p {
    color: white;
}
button {   
    box-shadow: 10px 5px 5px blue;
    background-color: rgb(74, 175, 74);
    color: white;
    font-size: 2rem;
    margin-bottom: 7rem;
}

.container {
    display: flex;
    justify-content: center;
}