<div class="container">
    <div class="col-8">
        <div class="button">
                <button (click)="createGenre('Human')" type="button" class="btn btn-lg btn-block">Human</button>
                <br/>
                <br/>
                <br/>
                <button (click)="createGenre('Alien')" type="button" class="btn btn-lg btn-block">Alien</button>
                <br/>
                <br/>
                <br/>
                <button (click)="createGenre('Humanoide')" type="button" class="btn btn-lg btn-block">Humanoid</button>
            </div>
    </div>
</div>
