
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <ul>
    <li *ngFor="let egg of eggsList">
      <p>{{egg.id}}</p>
      <p>{{egg.nom}}</p>
      <p>{{egg.calibre}}</p>
      <p>{{egg.power}}</p>
      <img [src]="egg.image" />

    </li>
  </ul>
  <ul>
    <li *ngFor="let char of charactersList">
      <p>{{char.id}}</p>
      <p>{{char.name}}</p>
      <p>{{char.gender}}</p>
      <p>{{char.origine}}</p>
      <img [src]="char.image" />
      <ul>
        <li *ngFor="let skill of char.skills">
          <p>{{skill}}</p>
        </li>
      </ul>
    </li>
  </ul> -->

<app-button-sexe></app-button-sexe>
<br/>
<app-button-genre></app-button-genre>
<app-images-grid></app-images-grid>

<router-outlet></router-outlet>

</div>

